*.log

# Visual Studio
[Dd]ebug/
[Rr]elease/
*.sln.cache
*.suo
*.csproj.user
*.TeamCity.user
*.DotSettings.user
crushed.*.css
crushed.*.js
bin/
obj/

# Resharper
*[Rr]e[Ss]harper.user
_ReSharper.*/
*resharper.user

